<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- Appenders -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{bright,blue} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1}}{bright,yellow}: %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="com.ansim" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="com.ansim.mapper" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <!-- 3rdparty Loggers -->
        <Logger name="org.springframework.core" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="org.springframework.beans" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="org.springframework.context" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="org.springframework.web" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.sqltiming" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.audit" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.resultset" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="log4jdbc.log4j2" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
    </Loggers>

</Configuration>
